
<nav class=" navbar navbar-expand-lg navbar-light bg-light " > 
  
    
  <img class = "ms-3" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Capital.com_logo.png " alt="HTML5 Icon" width="150" height="30">
  

    
    
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav"><div class="mx-auto" style="width: 200px;"></div>
          <li class="nav-item  ">
            <a class="nav-link " routerLink="/markets"  routerLinkActive="active fw-bold">{{Markets}} <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active fw-bold">{{Products}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fortraders" routerLinkActive="active fw-bold">{{ForTraders}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/learntotrade" routerLinkActive="active fw-bold">Learn to Trade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active fw-bold">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">White Paper</a>
          </li>

          
          <div class="btn-group dropstart">
            <button type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-search  mx-3 my-2" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </li>
            </button>
            
            <ul class="dropdown-menu" >
              <div class="input-group">
                <div class="form-outline" >
                  <input id="search-focus" type="search" id="form1" class="form-control"  />
                  <label class="form-label" for="form1">Search</label>
                </div>
                <button type="button" class="btn btn-primary" >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </ul>
           
          </div>



         



          <li class="nav-item dropdown">

            

            <div class="dropdown ">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Language
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">English</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Arabic</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Spanish</a>
                  </li>
                  
                </ul>
                <li><a class="dropdown-item" href="#">Italian</a></li>
                <li><a class="dropdown-item" href="#">Persian</a></li>
              </ul>
              
              

            </div>

          </li>
          
        
        </ul>



        
          <div class="mx-right" style="width: 100px;"></div>
          <app-login>Loading</app-login>
          <button type="button" class="btn btn-warning text-light">Trade Now</button>
        </div>
      </nav> 
  
      
    
   
    
    
       
    
  
  