
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <img src="https://capital.com/img/logobig.png" alt="HTML5 Icon" width="200" height="50">

   

    
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active ">
            <a class="nav-link" href="#">Markets <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">For traders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Learn to Trade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">White Paper</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
            
          </li>

          <ul> <form class="d-flex c">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success center" type="submit">Search</button>
            </form>
        </ul>
         
            
        </ul>
      </div>
    </nav> 

  
    <!-- Footer -->
<footer class="page-footer font-small indigo bg-black fixed-bottom ">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white ">Markets</h5>
  
          <ul class="list-unstyled ">
            <li>
                <a href="#!" class="link-light">Indices</a>
            
            </li>
            <li>
              <a href="#!" class="link-light">Forex</a>
            </li>
            <li>
              <a href="#!" class="link-light">Commodities</a>
            </li>
            <li>
              <a href="#!" class="link-light">Cryptocurrencies</a>
            </li>
            <li>
                <a href="#!" class="link-light">Shares</a>
              </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white">Products</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="link-light">Products</a>
            </li>
            <li>
              <a href="#!" class="link-light">Platforms</a>
            </li>
            <li>
              <a href="#!" class="link-light">Education</a>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white">For traders</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="link-light">MArket Updates</a>
            </li>
            <li>
              <a href="#!" class="link-light">Specials</a>
            </li>
         
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-white">Learn to trade</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="link-light">The basics of trading</a>
            </li>
            <li>
              <a href="#!" class="link-light">Popular markets giude</a>
            </li>
            <li>
              <a href="#!" class="link-light">Trading giuds</a>
            </li>
           
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->