<div class="container-fliud mb-4 py-5 " style="background-color: rgb(241, 241, 241);">
    <div class="flex-row centered ">

        <div class="col "><p class="fs-2 text-center fw-bold ">All Markets</p></div>

        
        
            
                <div class="d-flex flex-row">
                    <div class="col"></div>
                    
                        <div *ngFor="let cards of cards " class="flex-row centered mx-1 my-3 fw-bold">
                            <newpages-cards title={{cards.title}} num={{cards.num}} imagePath={{cards.imagePath}}>
                            </newpages-cards>

                    

                </div>
                <div class="col"></div>
            </div>
       


    </div>
</div>