
<div class="container-fliud mb-4 " style="background-color: white;">
    <div class="row ">
    
      <div class="col text-center" >
        <a style="font-size: 25px;"class="nav-link text-black fw-bold" >
        
            <p class = "text-black">{{why}}</p>
        
        </a>
        <a style="font-size: 18px;"class="nav-link text-black " >
            <p class = "text-black text-center">{{text}}</p>
        </a>
       
      </div>
      
    </div>

    <div class="row">
    <div class="container col-4 mb-4 " height="350" style="background-color: white">
        
            <form class="d-flex  " height="350">
                <input class="form-control "  style="box-sizing: border-box; height: 46px; width:100%;" type="search" placeholder="Search instrument" aria-label="Search ">
                
              </form>
    </div>

  </div>

</div>

  
<div class="container-fliud mx-3 my-auto"  style=" background-color: white; box-sizing: border-box;  width: 90%;">


    <div class="row">
        <div class="col text-center col-1" >


        </div>

          <div class="col text-start col-4 my-auto" >

            <a style="font-size: 17px;"class="nav-link text-warning my-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                0% commison</a>
            <a style="font-size: 17px;"class="nav-link text-warning my-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                  Tight spreads</a>
            <a style="font-size: 17px;"class="nav-link text-black my-2" >
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                  Fast order execution</a>
            <a style="font-size: 17px;"class="nav-link text-black my-2" >
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
              </svg>
              High privacy and security standards</a>
              <div class ="row" >
            <a style="font-size: 17px;"class=" col-1 nav-link text-black my-2 mx-2" >
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  
                  </svg>
            </a>
                  <div class= "col-10" style="font-size: 17px;">
                    Capital.com has group entities authorised and regulated locally by the Financial Conduct Authority ("FCA"), 
                  the Australian Securities and Investments Commission ("ASIC") and the Cyprus Securities and Exchange Commission ("CySEC")
                  </div> </div>
            <a style="font-size: 17px;"class="nav-link text-warning my-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                  Educational app, online courses & trading guides</a>
            <a style="font-size: 17px;"class="nav-link text-warning my-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle mx-2" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                  All the latest economic and market news</a>

                  <button type="button" class="btn btn-warning my-2 mx-2 text-light ">
                    {{start}}
                  </button> 
          </div>

          <div class="col text-center col-7" style = "background-color: white; ">

            <div class="row border" style = "background-color: white;">
             
              <div class="col-3">
                <button type="button " class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;">
                 Most traded
                </button>
              </div>
              <div class="col-2">
                <button type="button " class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;">
                  Commodities
                 </button>
                </div>
              <div class="col-1">
                <button type="button " class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;">
                  Indices
                 </button>
              </div>
              <div class="col-2">
                <button type="button " class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;">
                  Cryptocurrencies
                 </button>
              </div>
              <div class="col-1">
                <button type="button " class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;">
                  Shares
                 </button>
              </div>
              <div class="col-1">
                <button type="button " class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;">
                  Forex
                 </button>
              </div>
              <div class="col-1">
                <button type="button " class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px;">
                  EFTs
                 </button>
                 
             
              </div>
      </div>



      <div class="row border">

        <div class="container my-3">
          <img src="./assets/graph.png" width="95%" height="125" alt=""></div>
      </div>

      <div class="row ">
      <table class="table table-hover border ">
        
          <tr class = "text-muted border " style="font-size: 12px; background-color: rgb(196, 196, 196);">
            <th scope="col" class= "col-2 "></th>
            <th scope="col">Name</th>
            <th scope="col">Sell</th>
            <th scope="col">Buy</th>
            <th scope="col-2">Chg%</th>
            <th scope="col" class="col-2"></th>
            
          </tr>
        
        <tbody>
          <tr>
            <th scope="row border">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill= "currentcolor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
              <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
            </svg></th>

            <td style = "font-size: 14px; font-weight: bold;">Bitcoin/USD</td>
            <td  style = "font-size: 14px; font-weight: bold "><span class="price positive-price negative-price" style = " color:rgb(219, 43, 43); ">48063.65</span></td>
            <td  style = "font-size: 14px; font-weight: bold "><span class="price positive-price negative-price">48063.65</span></td>
            <td  style = "font-size: 14px; "><div class="col hide-mob  " style = " color:rgb(219, 43, 43); ">-2.280%</div></td>
            <td  style = "font-size: 14px; "><button  style = "font-size: 12px; " type="button " class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#exampleModal">
              Trade
              
            </button></td>
          </tr>
          <tr>
            <th scope="row">
              <img src="./assets/ripple2.jpg" width="16" height="16" alt="">
          </th>
            <td style = "font-size: 14px; font-weight: bold ">Ripple / USD</td>
            <td style = "font-size: 14px; font-weight: bold "><span class="price positive-price negative-price" style = "text-align-last: auto; color:rgb(219, 43, 43); ">48063.65</span></td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price" >48063.65</span></td>
            <td style = "font-size: 14px; "><div class="col hide-mob  " style = " color:rgb(219, 43, 43); ">-2.280%</div></td>
            <td><button style = "font-size: 12px; " type="button " class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#exampleModal">
              Trade
              
            </button></td>
          </tr>
          <tr>
            <th scope="row">
              <img src="./assets/eth.png" width="16" height="16" alt="">
             </th>
            <td style = "font-size: 14px; font-weight: bold ">Ethereum / USD</td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price" style = " color:rgb(219, 43, 43); ">48063.65</span></td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price">48063.65</span></td>
            <td style = "font-size: 14px; "><div class="col hide-mob  " style = " color:blue; ">+2.280%</div></td>
            <td ><button style = "font-size: 12px; " type="button " class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#exampleModal">
              Trade
            </button></td>
          </tr>
          <tr>
            <th scope="row">
              <img src="./assets/gold2.png" width="16" height="16" alt="">
             </th>
            <td style = "font-size: 14px; font-weight: bold ">Gold</td>
            <td style = "font-size: 14px; font-weight: bold "><span class="price positive-price negative-price" style = " color:rgb(219, 43, 43); ">48063.65</span></td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price">48063.65</span></td>
            <td style = "font-size: 14px; "><div class="col hide-mob  " style = " color:blue; ">+2.280%</div></td>
            <td ><button style = "font-size: 12px;" type="button " class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#exampleModal">
              Trade
              
            </button></td>
          </tr>
          <tr>
            <th scope="row">
              <img src="./assets/nasdaq.png" width="16" height="16" alt="">
              </th>
            <td style = "font-size: 14px; font-weight: bold">NASDAQ 100</td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price" style = " color:rgb(219, 43, 43); ">48063.65</span></td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price">48063.65</span></td>
            <td style = "font-size: 14px; "><div class="col hide-mob  " style = " color:blue; ">+2.280%</div></td>
            <td><button style = "font-size: 12px; " type="button " class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#exampleModal">
              Trade
              
            </button></td>
          </tr>
          <tr>
            <th scope="row">
              <img src="./assets/cardano.png" width="16" height="16" alt="">
              </th>
            <td style = "font-size: 14px; font-weight: bold">Cardano / USD</td>
            <td style = "font-size: 14px; font-weight: bold "><span class="price positive-price negative-price" style = " color:rgb(219, 43, 43); ">48063.65</span></td>
            <td style = "font-size: 14px; font-weight: bold "><span class="price positive-price negative-price">48063.65</span></td>
            <td style = "font-size: 14px; "><div class="col hide-mob  " style = " color:blue; ">+2.280%</div></td>
            <td><button style = "font-size: 14px; " type="button " class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#exampleModal">
              Trade
              
            </button></td>
          </tr>
          
          <tr>
            <th scope="row">
              <img src="./assets/oil.png" width="16" height="16" alt="">
              </th>
            <td style = "font-size: 14px; font-weight: bold">Crude Oil</td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price" style = " color:rgb(219, 43, 43); ">48063.65</span></td>
            <td style = "font-size: 14px; font-weight: bold"><span class="price positive-price negative-price">48063.65</span></td>
            <td style = "font-size: 14px; "><div class="col hide-mob  " style = " color:rgb(219, 43, 43); ">-2.280%</div></td>
            <td><button style = "font-size: 12px; " type="button " class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#exampleModal">
              Trade
              
            </button></td>
          </tr>
       
        </tbody>
      </table>

          


</div>
          </div>
    
</div>

</div>